<% for (singleComic of comics) { %>
    <tr>
    <td><%= singleComic.title %></td>
    <td><a href="/admin-console/update-book/<%= singleComic._id %>"><button type="button">EDIT</button></a></td>
    <td><a href="/admin-console/update-book/<%= singleComic._id %>"><button type="button">DELETE</button></a></td>
</tr> 
<% } %>
