<% for (singleComic of comics) { %>
    <tr>
    <td><%= singleComic.title %></td>
    <td><form action="books/<%= singleComic._id %>?_method=PUT" method="POST"><button type="button">EDIT</button></form></td>
    <td><form action="books/<%= singleComic._id %>?_method=DELETE" method="POST"><button type="button">DELETE</button></form></td>
</tr> 
<% } %>
