<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

    <div class="background-container">

        <div class="display-container">

            <H2>ADMIN PAGE</H2>

            <div class="horizontal-scroll">
                <div class="inside-container-admin">
                    <div class="addnew-comic"><button type="button" href="./admin-console/create-book">ADD NEW COMIC</button></div>

                    <table>
                        <thead>
                            <tr>
                                <th>COMIC TITLE</th>
                                <th>EDIT</th>
                                <th>DELETE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Batman: The Dark Knight Returns</td>
                                <td><button type="button">EDIT</button></td>
                                <td><button type="button">DELETE</button></td>
                            </tr>
                            <tr class="grey-row">
                                <td>Black Panther: A Nation Under Our Feet Book 1</td>
                                <td><button type="button">EDIT</button></td>
                                <td><button type="button">DELETE</button></td>
                            </tr>
                            <tr>
                                <td>Fun Home: A Family Tragicomic</td>
                                <td><button type="button">EDIT</button></td>
                                <td><button type="button">DELETE</button></td>
                            </tr>
                            <tr class="grey-row">
                                <td>Hunter X Hunter Vol. 1</td>
                                <td><button type="button">EDIT</button></td>
                                <td><button type="button">DELETE</button></td>
                            </tr>
                            <tr>
                                <td>Lumberjanes Vol: 1</td>
                                <td><button type="button">EDIT</button></td>
                                <td><button type="button">DELETE</button></td>
                            </tr>
                            <tr class="grey-row">
                                <td>March: Book One</td>
                                <td><button type="button">EDIT</button></td>
                                <td><button type="button">DELETE</button></td>
                            </tr>
                            <tr>
                                <td>One Piece, Vol. 1: Romance Dawn</td>
                                <td><button type="button">EDIT</button></td>
                                <td><button type="button">DELETE</button></td>
                            </tr>
                            <tr class="grey-row">
                                <td>Parable of the Sower</td>
                                <td><button type="button">EDIT</button></td>
                                <td><button type="button">DELETE</button></td>
                            </tr>
                            <tr>
                                <td>Queer: A Graphic History</td>
                                <td><button type="button">EDIT</button></td>
                                <td><button type="button">DELETE</button></td>
                            </tr>
                            <tr class="grey-row">
                                <td>The Walking Dead, Vol. 1: Days Gone Bye</td>
                                <td><button type="button">EDIT</button></td>
                                <td><button type="button">DELETE</button></td>
                            </tr>
                            <tr>
                                <td>Wake: The Hidden History of Women-Led Slave Revolts</td>
                                <td><button type="button">EDIT</button></td>
                                <td><button type="button">DELETE</button></td>
                            </tr>
                            <tr class="grey-row">
                                <td>Watchemen</td>
                                <td><button type="button">EDIT</button></td>
                                <td><button type="button">DELETE</button></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

    <%- include('../partials/footer') -%>