body {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
    
}



header {
    background-color: #063C5E;
    width: 100%;
    height: 100%; 
    padding-bottom: 5px; 
    
}

header nav {
    width: 350px;
    
}

.nav-list {
    list-style-type: none;


}

header li a {
    color: white;
    list-style-type: none;
    
}


.footer-container {
    background-color: #063C5E;
    box-sizing: border-box;
    border-top: solid;
    border-color:#FCCF14;
    width: 100%;
    height: 100%;
    color: #ffffff;
    
}

footer img {
    width: 150px;
    
}

footer li a {
    color: white;
    list-style-type: none;


}

h1 {
    color: #FCCF14;
    text-align: center;

}

.comic-container {
    width: 600px;
    height: 100%;
    background-color: #063C5E;
    box-sizing: border-box;
    border-color: #FCCF14;
    border-style:solid;
    border-radius: 40px 40px;
   /* padding: 20px 40px;*/
    margin: 20px auto;
    text-align: center;
    

}
.comic-container img {
    width:400px;
    height: 100%;
    box-sizing: border-box;
    border-color: white;
    border-style:solid; 
    border-radius: 40px 40px;
        
     
}

.about-text {
    width:100%;
    height: 100%;
    box-sizing: border-box;
    background: white;
    border-style: solid;
    border-color: #FCCF14;
    border-radius: 0px 0px 40px 40px;
    padding: 20px 40px;
    text-align: left;
    
   
}